@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&family=Playfair+Display:ital,wght@0,700;1,400&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", ui-serif, Georgia, serif;
  
  --color-artistic-bg: #FAF9F6;
  --color-artistic-text: #2A2A2A;
  --color-artistic-primary: #FF521B;
  --color-artistic-accent: #FFD166;
  --color-artistic-pink: #EF476F;
  --color-artistic-green: #06D6A0;
  --color-artistic-blue: #E6F0FF;
}
